@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à sua Loja MVC</h1>
    <p>Aqui você pode cadastrar clientes, produtos, compras e endereços</a>.</p>
</div>
